/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --accented-font: "Press Start 2P";
  --base-font: "Inter-Variable";
  --width: clamp(23.4375rem, 30.5164vw + 16.2852rem, 43.75rem);
}
